<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>familiares</title>
</head>
<body>
Los Datos de tu primer familiar son: <br>
Nombre:{{ familiares1.Nombre }}, Apellido: {{ familiares1.Apellido }},
Año de nacimiento: {{ familiares1.Año_de_nacimiento }}, Email: {{ familiares1.Email }} <br>
Este familiar se registro: {{ familiares1.Fecha_actual }}<br><br>


Los Datos de tu segundo familiar son: <br>
Nombre:{{ familiares2.Nombre }}, Apellido: {{ familiares2.Apellido }},
Año de nacimiento: {{ familiares2.Año_de_nacimiento }}, Email: {{ familiares2.Email }} <br>
Este familiar se registro: {{ familiares2.Fecha_actual }}<br><br>

Los Datos de tu tercer familiar son: <br>
Nombre:{{ familiares3.Nombre }}, Apellido: {{ familiares3.Apellido }},
Año de nacimiento: {{ familiares3.Año_de_nacimiento }}, Email: {{ familiares3.Email }} <br>
Este familiar se registro: {{ familiares3.Fecha_actual }}<br><br>
</body>
</html>